.roll-and-keys {
    height:400px;
}
.roll {
    border:1px solid black;
    box-sizing: border-box;
	position: relative;
	margin-left:100px;
}
.roll.is-cursor-select {
	cursor: context-menu;
}
.roll.is-cursor-add {
	cursor: copy;
}
.roll.is-cursor-subtract {
	cursor: alias;
}
.roll > .box-select {
	display:none;
	border: 1px dashed White;
	position: absolute;
	z-index:100;
}
.track{
    padding:0;
    margin:0;
    height:20px;
    border-bottom:1px solid black;
    box-sizing: border-box;
}
.cursor {
    width:1px;
    height:100%;
    top:0px;
    background-color: Yellow;
    position:absolute;
    z-index:100;
}
.canvasgrid .cursor {
background-color: rgb(115, 152, 115);
}
.track-1 {
	background-image: url('../Images/track1.png')
}
.track-2 {
	background-image: url('../Images/track2.png')
}
.track-3 {
	background-image: url('../Images/track3.png')
}
.track-4 {
	background-image: url('../Images/track4.png')
}
.track-5 {
	background-image: url('../Images/track5.png')
}
.track:hover {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.note {
    box-sizing: border-box;
    border: 1px solid white;
    position:absolute;
    height:19px;
    background-color:#AFA;
    z-index:1;
    opacity:.9;
    border-radius: 5px;
}
.note.is-selected {
	background-color:#FAA;
}
.note.ui-draggable-dragging {
	border-width: 2px;
	z-index: 2;
}

.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}

.ps-scrollbar-x {
    background-color:white !important;
    height:10px !important;
}
.ps-scrollbar-y {
    background-color:white !important;
    width:10px !important;
}

.keyboard {
	width:100px;
	position:absolute;
    z-index:10;
}
.key {
    position: relative;
    height:30px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: smaller;
    border-radius: 3px;
}
.key.key-black {
    background-color:rgb(20,20,20);
    height:20px;
    width:85%;
    left:0;
    top:-10px;
    z-index:1;
    margin-bottom:-20px;
    color:white;
}
.key.key-white {
    background-color:White;
    color: black;
}
.key.key-white.key-white-sandwiched {
    height:40px;
    padding-top:10px;
}
.key.key-white.key-white-blackontop {
    padding-top:10px;
}
.key.key-white.key-white-blackonbottom {
    padding-top: 0px;
}
.key.key-white.key-white-tippytop {
    padding-top: 0px;
    height:20px;
}
.key.key-is-active {
	background-color: Yellow;
	color: Black;
}
.key:hover {
    border-color: #AAA;
    cursor: pointer;
}

.track > .key-white {
    background-color: white;
    opacity: 0.2;
    width:100%;
    height:100%;
}
.track > .key-c {
    opacity: 0.35;
}

.track > .key-is-active {
    background-color: Yellow;
    opacity: 0.2;
    width:100%;
    height:100%;
}