.roll {
    border:1px solid black;
    box-sizing: border-box;
	position: relative;
	margin-left:100px;
}
.roll.is-cursor-select {
	cursor: context-menu;
}
.roll.is-cursor-add {
	cursor: copy;
}
.roll.is-cursor-subtract {
	cursor: alias;
}
.roll > .box-select {
	display:none;
	border: 1px dashed White;
	position: absolute;
	z-index:100;
}
.keys {
	background-image:url('Images/keys.jpg');
	background-repeat:repeat-y;
	background-position: 0px 20px;
	height:1760px;
	width:100px;
	position:absolute;
}
.track{
    padding:0;
    margin:0;
    height:20px;
    border-bottom:1px solid black;
    box-sizing: border-box;
}
.track-1 {
	background-image: url('Images/track1.png')
}
.track-2 {
	background-image: url('Images/track2.png')
}
.track-3 {
	background-image: url('Images/track3.png')
}
.track-4 {
	background-image: url('Images/track4.png')
}
.track-5 {
	background-image: url('Images/track5.png')
}
.track:hover {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.note {
    box-sizing: border-box;
    border: 1px solid white;
    position:absolute;
    height:19px;
    background-color:#AFA;
    z-index:1;
    opacity:.9;
    border-radius: 5px;
}
.note.is-note-selected {
	border-color:Green;
}
.note.ui-draggable-dragging {
	border-width: 2px;
	z-index: 2;
}

.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
