@{
    ViewBag.Title = "Index";
}

<!-- ko foreach: tracks -->
<div class="row clearfix">
	<div class="col-md-2">
	</div>
	<div class="col-md-10">
	</div>
</div>
<!-- /ko -->


@section Scripts {
    @Scripts.Render("~/bundles/midi");
    @Scripts.Render("~/bundles/muzartcompose")
<script>
    var trackHeight = 20;
    var mouseRight = false;
    var mouseLeft = false;
    var inputs = {
        ctrl: ko.observable(false),
        shift: ko.observable(false),
        alt: ko.observable(false)
    };

    //TODO: move all piano roll stuff into Piano roll component
    $(function () {
        var viewModel = new Muzart.ComposeModel();
        ko.applyBindings(viewModel);
    });
</script>
}
