@{
    ViewBag.Title = "Index";
}

<!-- ko foreach: tracks -->
<div class="row">
	<div class="col-md-2">
        <button class="btn btn-default" data-bind="click: $parent.removeTrack">X</button>
        <select data-bind="options: $root.instruments, value: instrument"></select>
	</div>
	<div class="col-md-10">
        content
	</div>
</div>
<!-- /ko -->
<button class="btn btn-default" data-bind="click: addTrack">Add Track</button>


@section Scripts {
    @Scripts.Render("~/bundles/midi")
    @Scripts.Render("~/bundles/muzartcompose")
<script>
    //TODO: move all piano roll stuff into Piano roll component
    $(function () {
       
    });
    var viewModel = new Muzart.ComposeModel();
    ko.applyBindings(viewModel);
</script>
}
