<!-- ko with: model -->
<div>
    Snap Width: <span data-bind="text:snapLengthText"></span>
    <input type="range" min="0" max="4" data-bind="value: gridState.snapMode, valueUpdate: 'input'" /> 

    Zoom: <span data-bind="text:gridState.zoomLevel"></span> 
    <input type="range" min="1" max="5" data-bind="value: gridState.zoomLevel, valueUpdate: 'input'" />
</div>

<!--<div>BPM: <input type="text" data-bind="value: bpm"/>
    <button type="button" data-bind="click: play">Play</button>
    <button type="button" data-bind="click: stop">Stop</button> 
    <span data-bind="text: playTime"></span>
</div>-->
<div class="roll-and-keys" data-bind="perfectScrollbar: {}">
<div class="keys">
</div>
<div class="roll" oncontextmenu="return false;" data-bind="css: actionCursor, style: {width: (measuresInRoll()*gridState.gridBaseWidth()*4*baseNotesToMakeQuarterNote) + 'px'}">
	<div class="cursor" data-bind="style: { left: ((player.playTime()/60)*player.bpm()*baseNotesToMakeQuarterNote)*gridState.gridBaseWidth() + 'px' }"></div>
    <!-- ko foreach: tracks -->
	<div class="track" data-bind="event: { mousedown: $parent.trackClicked }, css: $parent.trackZoomClass"></div>
	<!-- /ko -->
	<!-- ko foreach: notes -->
	<div class="note" data-bind="gridNote: $parent.gridState.gridSnapWidth, css: { 'is-selected': isSelected }"></div>
	<!-- /ko -->
	<div class="box-select" data-bind="boxSelect: selection.onBoxSelect"></div>
</div>
</div>
<!-- /ko -->