<!-- ko with: model -->


<div class="tracks-header">
    <div class="keyboard">
        <input type="range" min="1" max="5" data-bind="value: gridState.zoomLevel, valueUpdate: 'input'" />
    </div>
   <div style="margin-left:100px;"></div>
</div>

<div class="roll-and-keys" data-bind="perfectScrollbar: {}">
    <div class="keyboard" data-bind="foreach: tracks">
        <div class="key" data-bind="text: noteText(), css: noteClass(), event: {mousedown:play}"></div>
    </div>
    <div class="roll" oncontextmenu="return false;" data-bind="css: actionCursor, style: {width: (measuresInRoll()*gridState.gridBaseWidth()*4*baseNotesToMakeQuarterNote) + 'px'}">
	    <div class="cursor" data-bind="style: { left: (($root.player.playTime()/60)*$root.player.bpm()*baseNotesToMakeQuarterNote)*gridState.gridBaseWidth() + 'px' }"></div>
        <!-- ko foreach: tracks -->
	    <div class="track" data-bind="event: { mousedown: $parent.trackClicked }, css: $parent.trackZoomClass"></div>
	    <!-- /ko -->
	    <!-- ko foreach: notes -->
	    <div class="note" data-bind="selectGridElement: $parent.gridState.gridSnapWidth, onDrag: play, event: { mousedown: $parent.noteClicked, mouseover: $parent.removeNote }, css: { 'is-selected': isSelected }"></div>
	    <!-- /ko -->
	    <div class="box-select" data-bind="boxSelect: selection.onBoxSelect"></div>
    </div>
</div>
<!-- /ko -->